!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		//IF lt IE 9
			script(src='/javascripts/html5shiv.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='/javascripts/sandbox.js')
		script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDAec_F6R9zUZb0vTFsNHmvY-4T2l3C-lg&sensor=false')
		script(src='/javascripts/map.js')
	body!= body